@model ConserveDB.Models.MemberEmploymentViewModel

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Members" asp-action="Index" method="get">
    <p>

        <select asp-for="EmploymentStatus" asp-items="Model.EmploymentStatus">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].PreferredContactPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].EmploymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].TeamMemberPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].FavoriteColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmailAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PreferredContactPhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Position)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmploymentStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Shift)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Manager)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TeamMemberPhoto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FavoriteColor)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
